/* Inicia pagina Nosotros*/

.main2 {
    background-color: $color-primario;
    background-image: url(../Img/fondo2.jpg);
    background-size: cover;
    background-position: center;
}

.texto-foto {
    background-color: $color-primario;
    border-radius: 5px;
    padding: auto;
}

/*Fin pagina Nosotros*/